.about_container {
  margin: 0;
  height: 95vh;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  );
  background-color: rgb(176, 106, 81);
}
.about_header-te {
 // position: fixed;
  //z-index: 100;
  //top:0;
  //right: 50px;
  //margin-top: 11%;
  color: #FFF;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: 18px;
  text-transform: uppercase;
}
.about_left {
  //height: 100vh;
  width: 45vw;
  padding: 11rem 0;

  @media (max-width: 767.98px) {
    width: 100vw;
    padding: 4rem 0;
  }
  @media (max-width: 575.98px) {
    padding: 2rem 0;
  }
}
.bgFly {
  background-size: auto cover;
}
