.about_container {
  margin: 0;
  height: 95vh;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  );
  background-color: rgb(176, 106, 81);
}
.about_header {
  position: absolute;
  left: 45%;
  @media (max-width: 767.98px) {
   position: relative;
   text-align: center; 
   right: 20%;
   left: 0;
  }

}
.about_header-text {
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4.375rem;
  line-height: 5rem;
  font-weight: 700;
  letter-spacing: 1.125rem;
  text-transform: uppercase;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
  10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  text-align: right;

  @media (max-width: 767.98px) {
   padding-top: 2rem;
   font-size: 2.5rem;
   text-align: center;
  }
  @media (max-width: 575.98px) {
   font-size: 1.5rem;
   letter-spacing: .125rem;
  }
  
}
.about_header-underline {
  width: 12.5rem;
  height: 4px;
  margin-top: 1.875rem;
  margin-right: 1.313rem;
  background-color: #fff;
  float: right;
}
.about_left {
  //height: 100vh;
  width: 45vw;
  padding: 11rem 0;

  @media (max-width: 767.98px) {
    width: 100vw; 
    height: 0; //250px;
    padding: 3rem 0;
  }
  /*
  @media (max-width: 575.98px) {
    height: 0; //250px;
    padding: 2rem 0;
  }*/
}
.bgFly {
  background-size: auto cover;
}
.about_right {
  overflow: hidden;
  @media (max-width: 575.98px) {
   padding-top: 10rem;
  }
}