@import '../../scss/helpers.scss';
.contact-item  {
    //margin-left: 8.25rem;
    margin-bottom: 1rem;
    width: 5.75rem;
    height: 5.75rem;
    background: pink;
    border-radius: 50%;
    transition: all .5s;
    margin: auto;
}
.contact-col {
    padding: 2%;
}

