@import '../../scss/helpers.scss';
.contact-item  {
   
    margin-bottom: 1rem;
    width: 5.75rem;
    height: 5.75rem;
    background: pink;
    border-radius: 50%;
    transition: all .5s;
    @include media-breakpoint-up(sm) {margin-left: 3rem; }
@include media-breakpoint-up(md) {margin-left: 2rem;}
@include media-breakpoint-up(lg) {margin-left: 3.75rem; }
@include media-breakpoint-up(xl) { 
    margin-left: 5;

}
}


