.Contact_Section {
  flex: 1;
  min-height: 95vh;
  background-color: #193C46;//#F07B7B; //rgb(176, 106, 81);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  );
}
.Contact_Section--left {
  width: 45vw;
  @media (max-width: 767.98px) {
    width: 100vw;
    height: 45vh;
  }
}
.Contact_Info {
  position: relative;
  left: 6.5rem;
  top: 5rem;
  @media (min-width: 1500px) {
    top: 20rem;
  }
  @media (max-width: 767.98px) {
    left: 0;
    text-align: center;
  }
}

.Contact_Info--header {
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-align: right;
  line-height: 5rem;
  font-weight: 700;
  letter-spacing: 1.25rem;
  text-transform: uppercase;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);

  @media (max-width: 992px) {
    font-size: 5vw;
  }
  @media (max-width: 767.98px) {
    letter-spacing: 1rem;
    font-size: 7vw;
    text-align: center;
  }
}
.Contact_Info--underline {
  width: 12.5rem;
  height: 4px;
  margin-top: 1.875rem;
  margin-right: 1.313rem;
  background-color: #fff;
  float: right;
  @media (max-width: 767.98px) {
    float: none;
    margin: auto;
    height: 5px;
  }
}
.Contact_Info--text {
  position: absolute;
  bottom: 0;
  top: 68vh;
  font-family: "Raleway", sans-serif;
  padding-left: 1rem;
  color: #fff;
  font-weight: 600;
  @media (min-width: 1500px) {
    top: 80vh;
  }
}

.Contact_Section--right {
  flex: 1;
  padding-bottom: 2rem;
}
.Contact-Form {
  padding-left: 15%;
  max-width: 50vw;
  @media (max-width: 767.98px) {
    max-width: 100vh;
    padding-left: 0;
    padding: auto;
    margin: auto;
  }
}
.Contact_Section--form {
  max-width: 50vw;
  @media (max-width: 767.98px) {
    max-width: 100vh;
  }
}

.contact-form-label {
  margin: auto;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
label {
  font-weight: bold;
}
.input,
.contact-input {
  margin-bottom: 1.5rem;
  padding-top: 0.5625rem;
  border-block-color: #fff;
  background-color: #fff;
  color: #222;
  font-weight: 500;
}
.input {
  height: 3rem;
  padding: 0 1.25rem;
  border-style: none none solid;
  border-width: 1px 1px 1px;
  border-color: #000 #000 #eaeaeaea;
  border-radius: 0px;
  transition: border-color 300ms ease;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
.w-input,
.w-select {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  vertical-align: middle;
  border: 1px solid #cccc;
  color: #333333;
}

.text-field {
  height: auto;
  min-height: 9.375rem;
  margin-bottom: 2.5rem;
  padding: 1.125rem 0;
  line-height: 1.5rem;
}
textarea {
  overflow: auto;
}
.form-button {
  border-color: #ffaf41;
  background-color: #ffaf41;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 1.75rem;
  font-size: 1.063rem;
  border: 2px solid #eaeaeaea;
  cursor: pointer;
  width: 10.94rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5rem;
}
.Contact_Form--backtext {
  position: absolute;
  left: 15rem;
  top: 1rem;
  color: hsla(0, 0%, 100%, .09);
  font-size: 200px;
  line-height: 160px;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  opacity: 1;
  @media (min-width: 1500px) {
    opacity: 0;
  }
  @media (max-width: 767.98px) {
    opacity: 0;
  }
}