@import '../../scss/helpers.scss';
.contact-item  {
    margin: auto;
    margin-bottom: 1rem;
    width: 6rem;
    height: 6rem;
    background: grey;
    border-radius: 50%;
    transition: all .5s;
    &:hover {
        background: white;
    }
}

.contact_name {
    margin: auto;
}
.contact_textarea {
    margin: auto;
}
.contact_email {
    margin: auto;
}
Input {
    width: 80%;

}
.contact_name {
    margin-left: 20%;
    @include media-breakpoint-down(sm) {
        margin: auto;
    }
}
.contact_email{
    margin-right: 20%;
    @include media-breakpoint-down(sm) {
        margin: auto;
    }
}
