@import '../../scss/helpers.scss';
.nav-link-main {
  color: $white;
}
a:active, a:hover {
  outline: 0;
}
$transition: all .8s ease-in-out;
.background-image {
  background-size: cover;
}
.header_links {
  position:absolute;
  bottom: 0;
  left: 0;
  padding-left: 2.5rem;
  padding-bottom: 1.25rem;
}
.header-btn {
  position: absolute;
  width: 3rem;
  left: 36px;
  bottom: 24px;
  //height: 48px;
  z-index: 10000;
  //overflow: hidden;
  height: 48px;
  border-radius: 24px;
  background-position: 29px 50%;
  background-repeat: no-repeat;
  background-color: red;
  color: $white;
  text-decoration: none;
  //max-width: 92%;
 &:hover &:active {
   width: 48px;
   transition: width 300ms ease 0s;

 }
}
.header-btn_icon {
  z-index: 100;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
 
  
  //transition: $transition;
 // cursor: pointer;
  
}
.header-btn_text {
 font-family: 'Raleway', sans-serif;
 text-transform: uppercase;
 margin-top: -2.5rem;
 margin-right: 1.5rem;
 margin-left: 4rem;
 font-size: 0.9375rem;
 font-weight: 600;
 color: $white;
}
.icon-envelope {
  //transition: transform 300ms ease 0s;
  //transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  &:hover {
    transform-style: preserve-3d;
    transition: transform 300ms ease 0s;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  }
  //font-size: 1rem;
  //color: #323232;
 // background-color: aqua;
}
.header-text_name {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $white;
  font-weight: 900;
  letter-spacing: .5rem;
}

.header-text_desc {
 font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $white;
 // font-weight: 900;
  letter-spacing: .5rem;
  position: relative;
  display: inline-block;
 
 
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 3rem;
  }
  
}
@include media-breakpoint-down(xs) {
  h1 {
    font-size: 2rem;
  }
  h4 {
  font-size: 1rem;
  }
} 
@media(max-width: 767.98px) {
  .Section--padding-large {

    //padding (top and bottm) (padding right and left)
    //padding: 15rem 0 !important;

    padding-top: 9rem !important;
    padding-bottom: 15rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;


  }
}

/*
@include media-breakpoint-down(sm) {
  .header-text_desc {
    font-size: 2rem;
    //color: red !important;
  }
  .header-text_name {
    font-size: 1.5rem;
  }
  .double-underline {
    width: 75%;
  }
}
*/
/*
@include media-breakpoint-down(xs) {
  .header-text_desc {
    font-size: 1.75rem;
    //color: red !important;
  }
  .header-text_name {
    font-size: 1rem;
  }
  .double-underline {
    width: 75%;
  }
}
*/



.double-underline:after, .double-underline:before{
  content: "";
 position: absolute;
 z-index: -1;
 width: 100%;
 background-color: $white;
 display: block;
 height: 3px;
}
.double-underline:after {
 bottom: -1.875rem;// -30px;
 left: 1.25rem;//20px;
}

.double-underline:before {
 
  bottom: -1.25rem;//-20px;
}

/*
  //font-size: 3rem;


*/

















