@import '../../scss/helpers.scss';

.header-text_name {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $white;
  font-weight: 900;
  letter-spacing: .5rem;
//  font-size: 1.25rem;
}

.header-text_desc {
  //position: relative;
  //display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $white;
  font-weight: 900;
  letter-spacing: .5rem;
  //font-size: 3rem;
}

.header-text_desc:after, .header-text_desc:before{
content: "";
 position: absolute;
 z-index: 1000;
 width: 50%;
 background-color: $white;
 //display: block;
 height: 3px;
}
.header-text_desc:after {
 
  bottom: -1.75rem;
// left: 2rem;
}

.header-text_desc:before {
  right: 18rem;
  bottom: -1rem;
}




















