@import "../../scss/helpers.scss";
$transition: all 0.8s ease-in-out;

.Main_Section {
  background-color: rgba(0, 0, 0, .3);
  flex: 1;
  height: 100vh;
  padding: 10rem 6rem;
  @media (max-width: 575.98px) {
    padding: 8rem 2rem;
  }
}

.Main_Section--text1 {
  text-transform: uppercase;
  color: $white;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  @media (max-width: 575.98px) {
    letter-spacing: 0;
  }
}
h1 {
  font-size: 7vh; //3rem
}
.double-underline {
  position: relative;
  //width: 85%;
  @media (min-width: 1500px) {
   width: 55%;
  }
  &:before {
    bottom: -1.25rem;
  }
  &:after {
    bottom: -1.875rem;
    left: 1.25rem;
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: $white;
    display: block;
    height: 3px;
  }
}
.Main_Section--text2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 1.5rem;
  text-shadow: 0px 15px 5px rgba(112, 57, 57, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);

  @media (max-width: 575.98px) {
    letter-spacing: 4px;
  }
}
.social-icons {
  position: absolute;
  display: inline-block;
  bottom: 1rem;
  right: 1rem;
  transform: $transition;
  color: $white;
  @include media-breakpoint-down(sm) {
    position: relative;
    right: 0;
    bottom: 35vh;
  }
}

.nav-link {
  color: $white;
  font-size: $font-size-base * 1.5;
  padding: map-get($spacers, 4);
  font-family: "Raleway", sans-serif;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);

  &:hover {
    color: aqua;
    transition: color 300ms ease-in-out 0s;
  }
}

.background-image {
  background-size: 100%;
  height: 100%;
  transition: $transition;
}

.header-btn_desc:hover .header-btn_text {
  opacity: 1;
}
.header-btn_desc:hover .header-btn {
  opacity: 1;
}
.header-btn {
  position: absolute;
  width: 13.5rem; //13.5rem;
  left: 1.5rem;
  bottom: 1.5rem;
  z-index: 100;
  overflow: hidden;
  height: 3rem;
  border-radius: 1.5rem;
  background-position: 1.813rem 50%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7); // red;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}

.header-btn_text {
  position: absolute;
  bottom: 2rem;
  left: 1.25rem;
  z-index: 1000;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-top: -1.45rem;
  margin-right: 1.5rem;
  margin-left: 4rem;
  font-size: 0.9375rem;
  font-weight: 600;
  color: $white;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  &:hover {
    color: rgb(190, 190, 190);
  }
}

.header-btn_icon {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 10000;
  width: 3rem;
  height: 3rem;
  opacity: 1 !important;
  border-radius: 50%;
  background-color: $white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
.header-icon_star {
  opacity: 1;
  color: #323232;
  font-size: 2.5rem;
  padding-top: 0.5rem;
  transition: color 0.2s ease, background-color 0.2s ease, transform 500ms ease;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 2px;
    transform: scale(0.8);
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  &:hover {
    background-color: transparent;
    transform: rotate(360deg);
    cursor: pointer;
    box-shadow: none;
  }

  &:hover:after {
    transform: scale(1);
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
  }
  &:nth-of-type(1) {
    background-color: transparent;
  }
  &:nth-of-type(1):hover {
    color: #57cad5;
  }

  &:nth-of-type(1):after {
    border-color: #57cad5;
  }
}



 /*
  @media (max-width: 575.98px) {
    font-size: 7vh;//2rem;
  }
  */


/*
.Main_Section--underline{
  width: 15rem;
  height: 4px;
  margin-top: auto;
  background-color: #fff;
  float:center;

}
.Main_Section--underline2{
  
}
*/
/*
 @include media-breakpoint-down(sm) {
    //text-align: left !important;
  }
@include media-breakpoint-down(md) {
  .nav-link-main {
    //letter-spacing: .25rem;
    font-size: 1rem;
  }
 
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 1.25rem;
  
}
}

@include media-breakpoint-down(sm) {

  .nav-link-main {
   font-size: .75rem;
  }
  
}
@include media-breakpoint-down(xs) {
 
  h4 {
  font-size: 1rem;
 
  }
}
*/

/*
/*
.double-underline:after, .double-underline:before{
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: $white;
  display: block;
  height: 3px;
}
*/
//*/

//position for header-links goes to text-center on row
/*.header_links {
  position:absolute;
  bottom: 0;
  left: 0;
  padding-left: 2.5rem;
  padding-bottom: 1.25rem;
  transition: $transition;
}

*/

/*
@media(max-width: 767.98px) {
  .Section--padding-large {

    //padding (top and bottm) (padding right and left)
    //padding: 15rem 0 !important;

    padding-top: 10rem !important;
    padding-bottom: 20rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;


  }
  */
//}

/*
@include media-breakpoint-down(sm) {
  .header-text_desc {
    font-size: 2rem;
    //color: red !important;
  }
  .header-text_name {
    font-size: 1.5rem;
  }
  .double-underline {
    width: 75%;
  }
}
*/
/*
@include media-breakpoint-down(xs) {
  .header-text_desc {
    font-size: 1.75rem;
    //color: red !important;
  }
  .header-text_name {
    font-size: 1rem;
  }
  .double-underline {
    width: 75%;
  }
}
*/
/*
  //font-size: 3rem;


*/

/*
.icon-envelope {
  //transition: transform 300ms ease 0s;
  //transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  &:hover {
    transform-style: preserve-3d;
    transition: transform 300ms ease 0s;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  }
  //font-size: 1rem;
  //color: #323232;
 // background-color: aqua;
}
*/
/*
//Monica Arroyo
.Main_Section--text1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  padding: 2rem;
  letter-spacing: 0.5rem;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}
//Developer 
.Main_Section--text2{
  font-family: "Raleway", sans-serif;
  //font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1.5rem;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
    @media (max-width: 575.98px) {
      font-size: 2rem;
    }
}
*/