@import "../../scss/helpers.scss";

.Navbar {
  $transition: all 0.8s ease-in-out;
  background-color: transparent;
  border-bottom: 1px solid $border-color;
  border-bottom-width: 2px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(19, 15, 15, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    )
    5%;
  transition: $transition;
  //padding: 10px;
  .navbar-toggler {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $white;
    padding: 12px;
    margin: 8px;
    letter-spacing: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: $transition;
    cursor: pointer;
  }
  // when scroll
  &--solid {
    background-color: #e2c5b6; //$white;
    box-shadow: 0 1px 5px 0 $white; // rgba(0,0,0,.3);
    border-bottom: 0;
    border-bottom-width: 0;
    border-image: none;
    padding-top: 10px;
    padding-bottom: 6px;
    .navbar-toggler {
      background-color: #193c46; // #222;
    }
    .bar {
      background-color: white;
    }
    .navbar-brand {
      color: #193c46; // #222; //#57cad5;
    }
    .nav-text {
      color: #193c46; // #222; // #57cad5;
    }
    .nav-link {
      color: #193c46; // #323232;
    }
    .nav-item.active .nav-link {
      color: $primary;
    }
  }
}
.bar {
  width: 20px;
  height: 2px;
  background-color: #222;
  margin: 4.5px 0px;
  transition: 0.4s;
}
.navbar-toggler {
  &:hover {
    .bar {
      margin: 5px 0;
    }
  }
}
.nav-text {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: $white;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
  padding-right: 0.5rem;
  letter-spacing: 0.25rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  color: $white;
  font-weight: 200;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
