@import '../../scss/helpers.scss';

.Navbar {
    $transition: all .2s ease-in-out;
  
    background-color: transparent;
    border-bottom: 1px solid $border-color;
    border-bottom-width: 1px;
    border-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 100%) 5%;
    transition: $transition;
  
    .navbar-toggler {
      border: 1px solid $gray-500;
      color: $white;
      padding: .4rem .7rem;
      font-size: 1.6rem;
      transition: $transition;
    }
    .underbar{
      width: 0;
      height: 5px;
      background: rgba(100,100,200,0);
      //left: -50px;
      top: 20px;
      position: absolute;
      -webkit-transition: 0.5s ease;
    }
    .nav-link {
      color: $white;
      font-weight: $font-weight-medium;
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      &:hover {
        //color: $gray-500;
        //text-decoration: underline;
        text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
        }
        &:nth-of-type(1):hover ~ .underbar{
          left: 0;
          width: 40px;
          background: rgba(100,100,200,1);
        }
        &:nth-of-type(2):hover ~ .underbar{
          left: 50px;
          width: 40px;
          background: rgba(200,100,100,1);
        }
        &:nth-of-type(3):hover ~ .underbar{
          left: 100px;
          width: 40px;
          height: 1px;
          background: rgba(150,250,250,0.5);
          box-shadow: 0 0 10px rgba(70,250,250,1);
        }
        &:nth-of-type(4):hover ~ .underbar{
          left: 150px;
          width: 50px;
          height: 1px;
          background: rgba(150,250,250,0.5);
          box-shadow: 0 0 10px rgba(70,250,250,1);
        }
        
    }
  
    &--solid {
      background-color: $dark;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
      border-bottom: 0;
      border-image: none;
  
      .nav-item.active .nav-link {
        color: $primary;
      }
    }
  
    .navbar-brand {
      color: #fff;
      font-size: 2rem;
      img {
        max-height: 50px;
      }
    }
  
    .navbar-nav {
      width: 100%;
    }
  
    .nav-item {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      padding: 0;
    }
  
    .nav-item,
    .btn {
      font-size: $font-size-lg;
    }
  }