.Project_Section_Name {
    height: 45vh;
    background-color: #404267;
}
.Project_Section {
    min-height: 95vh;
    background-color: #E4E4EF;
   
   /*
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    );
    */
  }
  .Project_Section--left {
    width: 45vw;
    background-color: #E4E4EF;
    
  }
  .Project_Section--right {
    
  }
  .Project_Info {
    /*
    position: relative;
    left: 6.5rem;
    top: 5rem;
    @media (min-width: 1500px) {
      top: 20rem;
    }
    @media (max-width: 767.98px) {
      left: 0;
      text-align: center;
    }
    */
  }
  
  .Project_Info--header {
   
    font-family: "Raleway", sans-serif;
    color: #fff;
    text-align: right;
    line-height: 5rem;
    font-weight: 700;
    letter-spacing: 1.25rem;
    text-transform: uppercase;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
      10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  
    @media (max-width: 992px) {
      font-size: 5vw;
    }
    @media (max-width: 767.98px) {
      letter-spacing: 1rem;
      font-size: 7vw;
      text-align: center;
    }
  }
  .Project_Info--underline {
    position: absolute;
    top: 8vh;
    left: 45vw;
    width: 12.5rem;
    height: 4px;
    margin-top: 1.875rem;
    margin-right: 1.313rem;
    background-color: #fff;
    float: right;
    opacity: 1;
    @media (max-width: 767.98px) {
      float: none;
      margin: auto;
      height: 5px;
    }
    @media (max-width: 575.98px) {
      opacity: 0;
    }
  }

/*
  /*
    
    @media (max-width: 767.98px) {
      width: 100vw;
      min-height: 45vh;
    }
    */
//*/