@import '../../scss/helpers.scss';
a.nav-item {
  text-decoration: none;
}

.nav-item {
  color: #090;
  opacity: 0.6;
  position: relative;
  transition: opacity 0.2s ease-in-out 0s;
}

.nav-item:hover {
  opacity: 1;
}

.nav-item:before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  z-index: 10;
  background-color: #aca;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.nav-item:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}

.Sidebar {
    
    background-color: $white;
    font-size: $font-size-base * 1.5;
    padding: map-get($spacers, 4);
    font-family: 'Raleway', sans-serif;
  
    .bm-cross {
      height: 2rem;
      width: 2rem;
      background-color: #332233;
    }
  
    .bm-cross-button {
    //  $size: 2rem;
      background-color: $white;
      height: $size;
      width: $size;
    }
  
    .bm-item {
      padding-left: 0;
    }
  
    &__link {
      color: #332233;
      margin-bottom: map-get($spacers, 3);
      
      &:hover {
          color: #F44A66;
      }

      &.active {
        color: #F44A66;
      }
    }
  }
  
  .bm-overlay,
  .bm-menu-wrap {
    transition-duration: .3s !important;
  }
  /*
      //opacity: 0.25;
        //transform-style: 3d;
   //     transition: transform 3000ms ease 0s;
        //transform: translate(-105%) translateY(0px) translateZ(0px);
       //transition: 0.5s ease-in;
  // text-decoration: underline;
        //width: 100%;
       // left: 0;
        //height: 5px;
        //margin-top: -20px;
      //  background-color: #F44A66;
 //display: block;
     // font-weight: $font-weight-medium;
        //transition: 0.5s ease;
  //  transform-style: preserve-3d;
      // transition: transform 3000ms ease 0s;
      //  transform: translate(-10%) translateY(0px) translateZ(0px);
  */