@import '../../scss/helpers.scss';
.hover-1 {
  &:after {
      content:'';
     // position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: red;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s;
  }

  &:hover {
      &:after {
          transform-origin: bottom left;
          transform: scaleX(1);
      }
  }
}

.Sidebar {
    
    background-color: $white;
    font-size: $font-size-base * 1.5;
    padding: map-get($spacers, 4);
    font-family: 'Raleway', sans-serif;
  
    .bm-cross {
      height: 2rem;
      width: 2rem;
      background-color: #332233;
    }
  
    .bm-cross-button {
      $size: 2rem;
      background-color: $white;
      height: $size;
      width: $size;
      color: red;
    }
  
    .bm-item {
      padding-left: 0;
    }
  
    &__link {
      //display: block;
     // font-weight: $font-weight-medium;
      color: #332233;
      display: inline-block;
      position: relative;
      text-decoration: none;
      padding: 10px 0;
      //color: #fff;
      margin-bottom: map-get($spacers, 3);
      
      //transition: 0.5s ease;
  //  transform-style: preserve-3d;
      // transition: transform 3000ms ease 0s;
      //  transform: translate(-10%) translateY(0px) translateZ(0px);
      &:hover {
       
      // text-decoration: underline;
        //width: 100%;
       // left: 0;
        //height: 5px;
        //margin-top: -20px;
      //  background-color: #F44A66;
        color: $gray-500;
        //opacity: 0.25;
        //transform-style: 3d;
   //     transition: transform 3000ms ease 0s;
        //transform: translate(-105%) translateY(0px) translateZ(0px);
       //transition: 0.5s ease-in;
      }
      
  
      &.active {
        color: #F44A66;
      }
    }
  }
  
  .bm-overlay,
  .bm-menu-wrap {
    transition-duration: .3s !important;
  }