@import "../../scss/helpers.scss";
.Sidebar_Social {
  padding: map-get($spacers, 4);
  //padding-top: map-get($spacers, 4);
}
.Sidebar-item {
  color: #f44a66;
  position: relative;
  transition: opacity 300ms ease-in-out 0s;
  :hover {
    opacity: 1;
  }
  :before {
    content: "";
    position: absolute;
    bottom: 16px;
    width: 50%;
    height: 7px;
    z-index: 10;
    opacity: 0.2;
    background-color: #f44a66;
    transform: scaleX(0);
    transition: all 300ms ease-in-out 0s;
  }
  :hover:before {
    transform: scaleX(1);
  }
}
.Sidebar {
  background-color: $white;
  font-size: $font-size-base * 1.5;
  padding: map-get($spacers, 4);
  font-family: "Raleway", sans-serif;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);

  .bm-cross {
    background-color: #332233;
  }

  .bm-cross-button {
    background-color: $white;
  }

  .bm-item {
    padding-left: 0;
  }

  &__link {
    color: #332233;
    margin-bottom: map-get($spacers, 3);

    &:hover {
      opacity: 0.8;
      color: #f44a66;
    }

    &.active {
      color: #f44a66;
    }
  }
}

.bm-overlay,
.bm-menu-wrap {
  transition-duration: 0.3s !important;
}
/*
      //opacity: 0.25;
        //transform-style: 3d;
   //     transition: transform 3000ms ease 0s;
        //transform: translate(-105%) translateY(0px) translateZ(0px);
       //transition: 0.5s ease-in;
  // text-decoration: underline;
        //width: 100%;
       // left: 0;
        //height: 5px;
        //margin-top: -20px;
      //  background-color: #F44A66;
 //display: block;
     // font-weight: $font-weight-medium;
        //transition: 0.5s ease;
  //  transform-style: preserve-3d;
      // transition: transform 3000ms ease 0s;
      //  transform: translate(-10%) translateY(0px) translateZ(0px);
  */
