@import '../../scss/helpers.scss';

.Sidebar {
    
    background-color: $white;
    font-size: $font-size-base * 1.5;
    padding: map-get($spacers, 4);
    font-family: 'Raleway', sans-serif;
  
    .bm-cross {
      background-color: $white;
    }
  
    .bm-cross-button {
      $size: 1rem;
      background-color: #332233;
      height: $size;
      width: $size;
      color: red;
    }
  
    .bm-item {
      padding-left: 0;
    }
  
    &__link {
      display: block;
      font-weight: $font-weight-medium;
      color: #332233;
      margin-bottom: map-get($spacers, 3);
  
      &:hover {
        color: $gray-500;
      }
  
      &.active {
        color: #F44A66;
      }
    }
  }
  
  .bm-overlay,
  .bm-menu-wrap {
    transition-duration: .3s !important;
  }