@import '../../scss/helpers.scss';
$size: 3.25rem;
.mask {
  height: $size;
  width: $size;
  border-radius: 50%;
  //background-color: red;
  border-width: 2px;
  margin-left: -2px;
  margin-right: 5px;
  margin-top: -2px;
  line-height: $size;
  border-color: hsla(0, 0%, 100%, .3);
  //border-color: red;
  z-index: 1000;
}
.SocialLink {
    height: $size;
    width: $size;
   
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, .3);
    //border: 1px solid rgba($border-color, .05);
    border-radius: 100%;
    color: black;
    display: inline-block;
  //font-size: 1.75rem;
    margin-left: 6px;
    margin-right: 6px;
    line-height: $size;
    // background-color: $white; //rgba($white, .05);
    //transition: $transition-base;
    //background-color: #323232;
    //background-position: 50% 50%;
    //background-repeat: no-repeat;
  
    &:not(:last-of-type) {
      margin-right: map-get($spacers, 3);
    }
  
    &:hover {
      background-color: rgba($white, .2);
      box-shadow:
        0 0 1px 2px rgba($indigo, .1),
        0 0 1px 4px rgba($indigo, .05);
      text-decoration: none;
      text-shadow: none;
    }
  }