@import '../../scss/helpers.scss';

.SocialLink {
    $size: 3.25rem;
    height: $size;
    width: $size;
   // background-color: $white; //rgba($white, .05);
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, .3);
    //border: 1px solid rgba($border-color, .05);
    border-radius: 100%;
    color: black;
    display: inline-block;
    font-size: 1.75rem;
    margin-left: 6px;
    margin-right: 6px;
    line-height: $size;
    transition: $transition-base;
    //background-color: #323232;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  
    &:not(:last-of-type) {
      margin-right: map-get($spacers, 3);
    }
  
    &:hover {
      background-color: rgba($white, .2);
      box-shadow:
        0 0 1px 2px rgba($indigo, .1),
        0 0 1px 4px rgba($indigo, .05);
      text-decoration: none;
      text-shadow: none;
    }
  }