@import '../../scss/helpers.scss';

$size: 3rem;
.sociaLink_circle{
  display: inline-block;
  transform: translateZ(0);
  @include media-breakpoint-down(md) { 
    position: absolute;
  }
}

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
              0 -1px 0 $weight rgba($mix-sub-from, .25),
              1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight  rgba($mix-sub-from, .25),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px 1px 0 $weight rgba($to, .75),
              -1px -1px 0 $weight rgba($from, .75);
}
.socialLink_circles {
  height: $size;
  width: $size;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 4px;
  border-radius: 100%;
  &:nth-of-type(2) {
   @include border-gradient(skyblue, hotpink);
    animation: rotateThis 1s linear infinite;
  }
 
}

@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(1);
  }
  
  to {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes psycho {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }
  
  33% {
    transform: rotate(360deg) scale(1) translate(5px, 5px);
  }
  
  66% {
    transform: rotate(720deg) scale(1) translate(-5px, -5px);
  }
  
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}
.socialLink {
  position: absolute;
  bottom: 0;
  left: 0;
  height: $size;
  width: $size;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .3);
  z-index: 1000;
  border-radius: 100%;
  color: black;
  display: inline-block;
  font-size: 1.75rem;
  margin-left: 10px;
  margin-right: 10px;
  line-height: $size;
  color: $white;
  @include media-breakpoint-down(md) { 
    position: relative;
  }
  &:not(:last-of-type) {
    margin-right: map-get($spacers, 3);
  }
  
  &:hover {
    background-color: rgba($white, .2);
    box-shadow:
        0 0 1px 2px rgba($indigo, .1),
        0 0 1px 4px rgba($indigo, .05);
    text-decoration: none;
    text-shadow: none;
    color: #332233;
    @include border-gradient(skyblue, hotpink);
    animation: rotateThis 1s linear infinite;
    }
  }

/*
 @include border-gradient(skyblue, hotpink);
        animation: rotateThis 1s linear infinite;

*/

/*
  // background-color: $white; //rgba($white, .05);
    //transition: $transition-base;
    //background-color: #323232;
    //background-position: 50% 50%;
    //background-repeat: no-repeat;
//border: 1px solid rgba($border-color, .05);
.hey{
  height: $size;
  width: $size;
  border-radius: 50%;
  //background-color: red;
  border-width: 2px;
  margin-left: -2px;
  margin-right: 5px;
  margin-top: -2px;
  line-height: $size;
  border-color: hsla(0, 0%, 100%, .3);
  //border-color: red;
  z-index: 1000;
}

  /*
  height: $size;
    width: $size;
    border-style: solid;
    border-width: 2px;
    border-color: red;//hsla(0, 0%, 100%, .3);
    //border: 1px solid rgba($border-color, .05);
    border-radius: 100%;
    color: black;
    display: inline-block;
  //font-size: 1.75rem;
    margin-left: 6px;
    margin-right: 6px;
    line-height: $size;

  */