@import '../../scss/helpers.scss';

.header-text_name {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $white;
  font-weight: 900;
  letter-spacing: .5rem;
}
.header-text_desc {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $white;
  font-weight: 900;
  letter-spacing: .5rem;
}
.underline {
  
}




















