//@import url('')
.main_header_text {
    display: inline-block;
    position: relative;
}

h1 {
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-shadow: 0 0 .625rem #ff006c, 0 0 	1.25rem #ff006c, 0 0 30px #ff006c, 0 0 40px #ff417d, 0 0 70px #ff417d, 0 0 80px #ff417d, 0 0 100px #ff417d, 0 0 150px #ff417d;
}