@import '../../scss/helpers.scss';

.header-text_name {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $white;
  font-weight: 900;
  letter-spacing: .5rem;
}
.header-text_desc {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $white;
  font-weight: 900;
  letter-spacing: .5rem;
}
h1 {
  position: relative;
  display: block;
}
.double-underline:after, .double-underline:before{
  content: "";
 position: absolute;
 z-index: 1000;
 width: 100%;
 background-color: $white;
 display: block;
 height: 3px;
}
.double-underline:after {
  bottom: -25px;
 left: 30px;
}

.double-underline:before {
  bottom: -20px;
}




















